<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <script src="{{ url_for('static', filename='demos/bluetooth-rename/bower_components/webcomponentsjs/webcomponents-lite.min.js') }}"></script>

        <!-- Polymer components -->
        <link rel="import" href="{{ url_for('static', filename='demos/bluetooth-rename/bower_components/paper-button/paper-button.html') }}">
        <link rel="import" href="{{ url_for('static', filename='demos/bluetooth-rename/bower_components/paper-card/paper-card.html') }}">
        <link rel="import" href="{{ url_for('static', filename='demos/bluetooth-rename/bower_components/paper-dialog/paper-dialog.html') }}">
        <link rel="import" href="{{ url_for('static', filename='demos/bluetooth-rename/bower_components/paper-input/paper-input.html') }}">
        <link rel="import" href="{{ url_for('static', filename='demos/bluetooth-rename/bower_components/paper-progress/paper-progress.html') }}">

        <link rel="import" href="{{ url_for('static', filename='demos/bluetooth-rename/bower_components/paper-styles/color.html') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='demos/bluetooth-rename/bower_components/paper-styles/demo.css') }}">

        <style is="custom-style">
          paper-button {
            display: block;
            margin-bottom: 24px;
          }
          paper-button.colorful {
            color: #4285f4;
          }
          paper-button[raised].colorful {
            background: #4285f4;
            color: #fff;
          }
          paper-button[toggles] {
            transition: background-color 0.3s;
          }
          paper-button[toggles][active] {
            background-color: rgba(0, 0, 0, 0.25);
          }
          paper-button[toggles][active].colorful {
            background-color: rgba(66, 133, 244, 0.25);
          }
          paper-button[toggles][active][raised].colorful {
            background-color: rgba(66, 133, 244, 0.75);
          }
          paper-button.blue {
            color: var(--paper-light-blue-500);
            paper-button-flat-focus-color: var(--paper-light-blue-50);
          }
          body {
            background-color: var(--paper-grey-50);
          }
          #cards {
            margin-left: auto;
            margin-right: auto;
            max-width: 400px;
          }
          paper-card {
            margin-bottom: 16px;
            width: 100%;
          }
          paper-progress {
            width: 100%;
          }
        </style>




    </head>
    <body>
        <div class="jumbotron">
          <div class="container">
            <h1>web-bluetooth-demo</h1>
          </div>
        </div>


        <div id="cards">
          <paper-card heading="Bluetooth Rename Tool">
            <div class="card-content">
              <paper-progress id="progress" indeterminate hidden="true"></paper-progress>
            </div>
          </paper-card>

          <paper-card>
            <div class="card-content">
              <div id="sensor1-value"></div>
              <paper-button id="startButton" raised class="colorful">Start</paper-button>
            </div>
          </paper-card>


          <paper-card>
            <div class="card-content">
              <paper-button id="connectButton" raised class="colorful">Connect</paper-button>
            </div>
          </paper-card>

          <paper-card>
            <div class="card-content">
              <paper-input id="nameInput" label="Device Name" disabled></paper-input>
              <paper-button id="writeNameButton" class="colorful" disabled>Update Name</paper-button>
            </div>
          </paper-card>

          <paper-dialog id="errorDialog">
            <h2>Error</h2>
            <p id="dialogError">Could not connect to bluetooth device!</p>
          </paper-dialog>

          <paper-dialog id="doneDialog">
            <h2>Done!</h2>
          </paper-dialog>
        </div>

<script>
document.addEventListener('WebComponentsReady', function() {
    startButton.addEventListener('click', function () {

      navigator.bluetooth.requestDevice({ filters: [{ services: ['33332a58-0000-1000-8000-00805f9b34fb'] }] })
      .then(device => device.gatt.connect())
      .then(server => server.getPrimaryService('33332a58-0000-1000-8000-00805f9b34fb'))
      .then(service => service.getCharacteristic('33332a58-0000-1000-8000-00805f9b34fb'))
      // .then(service => service.getCharacteristic('00001525-1212-efde-1523-785feabcd123'))
      .then(characteristic => characteristic.startNotifications())
      .then(characteristic => {
        // return characteristic.readValue();
        characteristic.addEventListener('characteristicvaluechanged',
                                        handleCharacteristicValueChanged);
        console.log('Notifications have been started.');
      })
      .then(value => {
        console.log('Battery percentage is ' + value.getUint8(0));
      })
      .catch(error => { console.log(error); });

      function handleCharacteristicValueChanged(event) {
        var value = event.target.value.getUint8(0);
        // $('.sensor1-value').append(value);
        var divele = document.getElementById("sensor1-value") ;

        divele.innerHTML= value ;
        console.log('Received ' + value[0]);
        // TODO: Parse Heart Rate Measurement value.
        // See https://github.com/WebBluetoothCG/demos/blob/gh-pages/heart-rate-sensor/heartRateSensor.js
      }

//
//
//         // Step 1: Scan for a device with 0xffe5 service
//
//         // navigator.bluetooth.requestDevice({
//         //   filters: [{ name: ['Sensor'] }],
//         //   // filters: [{ services: [0xffe5] }]
//         // })
//
//
//         // return navigator.bluetooth.requestDevice({
//         //   filters: anyDeviceFilter(),
//         //   optionalServices: ['generic_access']
//         // })
//         // progress.hidden = false;
//         // disableInput();
//         // Promise.resolve()
//         function anyDeviceFilter() {
//           // This is the closest we can get for now to get all devices.
//           // https://github.com/WebBluetoothCG/web-bluetooth/issues/234
//           return Array.from('0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')
//               .map(c => ({namePrefix: c}))
//               .concat({name: ''});
//         }
//
//
//         function logProgress(x) {
//           console.log("Progress:", x);
//           return x;
//         }
// // console.log(anyDeviceFilter());
//         if (!navigator.bluetooth)
//           throw "No Web Bluetooth support.";
//         return navigator.bluetooth.requestDevice({
//           filters: [{ name: ['Sensor'] }],
//           // filters: [{ namePrefix: ['S'] }],
//           // filters: anyDeviceFilter(),
//           optionalServices: ['generic_access','00001523-1212-efde-1523-785feabcd123']
//         })
//
//         .then(function(device) {
//             // Step 2: Connect to it
//             return device.gatt.connect();
//             console.log("Conneted")
//         })
//         .then(logProgress)
//
//         .then(function(server) {
//             // Step 3: Get the Service
//             // return server.getPrimaryService(0xffe5);
//             // return server.getPrimaryService("generic_access");
//             return server.getPrimaryService("00001523-1212-efde-1523-785feabcd123");
//                                              // 00001234-0000-1000-8000-00805f9b34fb
//         })
//         .then(logProgress)
//
//         // .then(service => service.getCharacteristic("gap.device_name"))
//
//         .then(function(service) {
//           // Step 4: get the Characteristic
//           // return service.getCharacteristic(0x2902);
//           // return service.getCharacteristic('19b10001-e8f2-537e-4f6c-d104768a1213');
//           return service.getCharacteristic('00001525-1212-efde-1523-785feabcd123');
//         })
//         .then(logProgress)
//
//         // .then(function(characteristic) {
//         //   // Step 5: Write to the characteristic
//         //   var data = new Uint8Array([0xbb, 0x25, 0x05, 0x44]);
//         //   return characteristic.writeValue(data);
//         // })
//         .catch(function(error) {
//            // And of course: error handling!
//            console.error('Connection failed!', error);
//         });


    });
});

</script>


            <script>
              "use strict";
              document.addEventListener('WebComponentsReady', function() {

                function logProgress(x) {
                  console.log("Progress:", x);
                  return x;
                }

                function handleError(error) {
                  console.log(error);
                  if (error.toString().match(/User cancelled/))
                    return;  // User didn't make a choice, no error needed.
                  else
                    dialogError.innerText = error;
                  errorDialog.open();
                }

                function disableInput() {
                  nameInput.disabled = true;
                  nameInput.charCounter = false;
                  writeNameButton.disabled = true;
                }

                function enableInput() {
                  nameInput.disabled = false;
                  nameInput.charCounter = true;
                  writeNameButton.disabled = false;
                }

                function anyDeviceFilter() {
                  // This is the closest we can get for now to get all devices.
                  // https://github.com/WebBluetoothCG/web-bluetooth/issues/234
                  return Array.from('0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ')
                      .map(c => ({namePrefix: c}))
                      .concat({name: ''});
                }

                connectButton.addEventListener('click', function () {
                  progress.hidden = false;
                  disableInput();
                  Promise.resolve()
                  .then(_ => {
                    if (!navigator.bluetooth)
                      throw "No Web Bluetooth support.";
                    return navigator.bluetooth.requestDevice({
                      filters: anyDeviceFilter(),
                      // optionalServices: ['generic_access']
                      optionalServices: ['33332a58-0000-1000-8000-00805f9b34fb']
                    })
                  })
                  .then(logProgress)
                  .then(device => {
                    nameInput.value = "";
                    return device.gatt.connect().catch(error => {
                      logProgress(error);
                      throw "Unable to connect. Some devices refuse connections.";
                    });
                  })
                  .then(logProgress)
                  .then(console.log('getPrimaryService'))
                  // .then(server => server.getPrimaryService("generic_access"))
                  .then(server => server.getPrimaryService("33332a58-0000-1000-8000-00805f9b34fb"))

                  .then(logProgress)
                  .then(console.log('getCharacteristic'))
                  // .then(service => service.getCharacteristic("gap.device_name"))
                  .then(service => service.getCharacteristic("33332a58-0000-1000-8000-00805f9b34fb"))

                  .then(logProgress)
                  .then(characteristic => {
                    window.deviceName = characteristic;
                    return characteristic.readValue();
                  })
                  .then(logProgress)
                  .then(value => {
                    window.value = value;
                    nameInput.value = new TextDecoder("utf-8").decode(value);
                    if (window.deviceName.properties.write)
                      enableInput();
                    else
                      throw "Name is not writable on this device.";
                  })
                  .catch(handleError)
                  .then(_ => progress.hidden = true)
                });  // END connectButton

                writeNameButton.addEventListener('click', function () {
                  progress.hidden = false;
                  Promise.resolve()
                  .then(_ => {
                    let uint8arrayName = new TextEncoder("utf-8").encode(nameInput.value);
                    console.log("Writing: ", uint8arrayName);
                    return deviceName.writeValue(uint8arrayName)
                  })
                  .then(logProgress)
                  .then(_ => doneDialog.open())
                  .catch(handleError)
                  .then(_ => progress.hidden = true)
                });
              });
            </script>
    </body>
</html>
